.btn {
  text-align: center;
  @include font("Montserrat",700,14px,normal,0,120%,#FFFFFF);
  max-width: 160px;
  width: 100%;
  background: #BF0B30;
  position: relative;
  z-index: 1;
  padding: 17px 0;
  display: inline-block;
  &:hover {
    color: #FFF;
    box-shadow: 0px 10px 20px -10px #000;
  }
  &::after {
    content: "";
    background: #000;
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    transition: all .4s linear;
    transform: scaleX(0);
    transform-origin: left;
    z-index: -1;
  }
  &:hover:after {
    transform: scaleX(1);
  }
}
