html {
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
}

body {
  font-family: 'Open Sans', sans-serif;
  margin: 0 auto;
  width: 100%;
  min-width: 1200px;
}

.container {
  width: 100%;
  max-width: 1600px;
  margin: 0 auto;
  padding: 0;
}

.row {
  max-width: 1440px;
  margin: 0 auto;
}
.panel-grid{
  margin-bottom: 0!important;
}
@media screen and (max-width: 1550px) {
  .container {
    padding: 0 10px;
    box-sizing: border-box;
  }
}

@media screen and (max-width: 1200px) {
  body {
    min-width: 320px;
  }
}
