@font-face {
    font-family: 'Penumbra Serif Std';
    src: url('assets/fonts/PenumbraSerifStd-Regular.woff2') format('woff2'),
        url('assets/fonts/PenumbraSerifStd-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Infinite Stroke';
    src: url('assets/fonts/InfiniteStroke.woff2') format('woff2'),
        url('assets/fonts/InfiniteStroke.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
a {
  text-decoration: none;
  transition: all .5s ease;
  -webkit-transition: all .5s ease;
  text-decoration: none !important;
  &:visited {
    text-decoration: none;
    transition: all .5s ease;
    -webkit-transition: all .5s ease;
    text-decoration: none !important;
  }
  &:hover {}
  &:focus {
    outline: none !important;
  }
}

h1, h2, h3, p, ul, ol {
  font-family: '', sans-serif;
}
