#inner-form{
  max-width: 1366px; margin: 30px auto;
  text-align: center;
  p{
    margin: 0;
    text-align: center;
  }
  input[type="text"],input[type="email"]{
    width: 97%;
    margin: 5px 0;
    padding: 16px 20px;
    @include font("Montserrat",400,15px,normal,0.8px,165%,#333333);
    &::placeholder{
      @include font("Montserrat",400,15px,normal,0.8px,165%,#333333);
    }
  }
  input[type="checkbox"]{
    @include font("Montserrat",400,15px,normal,0.8px,165%,#333333);
    margin: 10px auto;
  }
  textarea{
    resize: none;
    padding: 16px 20px;
    width: 100%;
    margin: 5px 0;
    height: 116px;
    max-width: 1324px;
    @include font("Montserrat",400,15px,normal,0.8px,165%,#333333);
    &::placeholder{
      @include font("Montserrat",400,15px,normal,0.8px,165%,#333333);
    }
  }
  .recaptcha{
    max-width: 304px;
    margin: 30px auto;
  }
  .btn{
    color: #FFFFFF;
    border:0;
    max-width: 160px;
    cursor: pointer;
    margin: 0 auto;
  }
}
