.screen-reader-text {
  border: 0;
  clip: rect(1px, 1px, 1px, 1px);
  clip-path: inset(50%);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute !important;
  width: 1px;
  word-wrap: normal !important;
  /* Many screen reader and browser combinations announce broken words as they would appear visually. */
}

.wp-block-column, .blocks-gallery-item {
  margin: 0 !important;
}

.has-1-columns .wp-block-column {
  flex-basis: 100%;
}

.wp-block-gallery.is-cropped .blocks-gallery-item img {
  height: auto;
  width: auto;
  object-fit: contain;
}

.wp-block-image {
  margin: 0;
  figure {
    margin: 0;
  }
}

.cta {
  display: none;
}

img {
  transition: all .5s linear;
}
