/*Main Menu*/

.main-navigation {
  ul {
    margin: 0;
    padding: 0;
    list-style: none;
    display: block;
    @include flex(row,wrap,space-around,flex-start);
    li {
      display: inline-block;
      margin-right: 10px;
      a{
        display: inline-block;
        @include font("Montserrat",400,15px,normal,normal,185%,#FFFFFF);
        text-transform: uppercase;
        padding: 16.5px 0;
        &:hover{
          text-shadow: 0px 0px 10px #000;
        }
      }
    }
  }
  .current-menu-item, .current_page_item {
    text-shadow: 0px 0px 10px #000;
  }
  ul {
    li:hover ul {
      visibility: visible;
      opacity: 1;
      margin-top: 0;
    }
    ul {
      padding: 10px 5px;
      display: block;
      position: absolute;
      background: rgba(0, 0, 0, 0.7);
      margin-top: 50px;
      transition: all .4s linear;
      visibility: hidden;
      opacity: 0;
      width: 100%;
      max-width: 400px;
      box-sizing: border-box;
      z-index: 999;
      li {
        margin: 10px 0;
        display: block;
        margin-right: 0;
        a {
          padding: 0 10px;
          display: block;
          box-sizing: border-box;
          text-transform: capitalize;
          &::before {
            display: none;
          }
          &:hover {
            background: #0F3A6F;
          }
          &::after {
            display: none;
          }
        }
        &:hover ul {
          margin-left: 200px;
          visibility: visible !important;
          opacity: 1 !important;
        }
      }
      ul {
        position: absolute;
        margin-left: 240px;
        margin-top: -48px !important;
        visibility: hidden !important;
        opacity: 0 !important;
      }
    }
  }
}

/*Sub Menu*/

/*Sub Sub Menu*/

/*Footer Menu*/

.footer-navigation {
  ul {
    margin: 0;
    padding: 0;
    list-style: none;
    display: block;
    li {
      display: inline-block;
      float: left;
      margin-right: 10px;
      a:hover {
        text-shadow: 0px 0px 10px #000;
      }
    }
  }
  .current-menu-item, .current_page_item {
    text-shadow: 0px 0px 10px #000;
  }
}

/*Social Menu*/

.social-navigation ul {
  margin: 0;
  padding: 0;
  list-style: none;
  display: block;
  li {
    display: inline-block;
    margin-right: 10px;
    a::before {}
  }
}
