.inner #content {
  min-width: 320px;
  padding: 40px 0;
}
.inner #content h1{
  margin: 0 0 20px;
  text-align: center;
  @include font("Penumbra Serif Std",400,45px,normal,1px,120%,#002768);
  padding: 0 0 21px;
  position: relative;
  &::after{
    content: "";
    width: 100px;
    height: 3px;
    background: #BF0B30;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
  }
}
.inner #content h4{
  @include font("Libre Baskerville",400,20px,italic,3px,120%,#BF0B30);
}
.inner #content p{
  @include font("Montserrat",500,16px,normal,normal,185%,#222222);
}
.glsr-form-wrap{
  padding: 20px 40px;
  margin: 0 auto !important;
  border: 2px solid #093270;
  border-radius: 10px;
}
.glsr-default .glsr-navigation>:not(.glsr-loader), .glsr-default .glsr-review{
  padding: 20px 40px;
  margin: 40px auto !important;
  border: 2px solid #093270;
  border-radius: 10px;
}
