.site-banner{
  position: relative;
  .banner-text{
    max-width: 1600px;
    margin: 0 auto;
    text-align: center;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 195px;
    h3{
      margin: 0 auto;
      @include font("Infinite Stroke",400,80px,normal,normal,100%,#FFFFFF);
      text-shadow: 2px 2px 2px rgba(0,0,0,0.65px);
    }
    h4{
      margin: 0 auto;
      @include font("Titillium Web",700,65px,normal,normal,normal,#FFFFFF);
      text-shadow: 2px 2px 2px rgba(0,0,0,0.65px);
      a{
        color: #FFFFFF!important;
      }
    }
    p{
      margin: 0 auto;
      @include font("Titillium Web",300,45px,normal,normal,120%,#FFFFFF);
      text-shadow: 2px 2px 2px rgba(0,0,0,0.65px);
    }
  }
  .so-panel{margin-bottom: 0!important;}
}
