.site-header {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 9999;
  background: rgba(0,39,104,0.9);
  .container{
    max-width: 1600px;
  }
  .hd-logo{
    @include flex-basis(1600px,425px);
    @include width(1600px,425px);
    text-align: center;
    background: #252525;
    position: relative;
    &::before{
      content: "";
      background: #252525;
      width: 100%;
      height: 100%;
      position: absolute;
      left: -100%;
      top: 0;
      bottom: 0;
    }
    &::after{
      content: "";
      width: 0;
      height: 0;
      border-top: 123px solid #252525;
      border-right: 50px solid transparent;
      position: absolute;
      top: 0;
      bottom: 0;
      right: -50px;
    }
  }
  .custom-logo{
    width: 100%;
    max-width: 330px;
    margin: 0 auto;
    position: relative;
  }
  .hd-wrap{
    @include flex(row,wrap,space-between,flex-start);
  }
  .social-navigation a{
    margin: 0 15px;
    svg{
      display: none;
    }
    &::before{
      background: #FFFFFF;
      font-size: 10px;
      border-radius: 100%;
      color: rgba(0,39,104,0.9);
      height: auto;
      width:21px;
      line-height: 21px;
      transition: all 0.5s ease;
    }
    &:hover{
      &::before{
        transform: rotate(360deg) scale(1.5);
      }
    }
  }
  .header-nav-top{
    @include flex(row,wrap,space-around,flex-start);
    padding: 14px 0 0;
    max-width: 670px;
    margin: 0 0 0 auto;
    p{
      margin: 0;
      @include font("Montserrat",600,25px,normal,1px,120%,#FFFFFF!important);
      a{
        color: #FFFFFF!important;
      }
      span{
        font-size: 14px;
        font-weight: 700;
        display: inline-block;
        vertical-align: middle;
        letter-spacing: 6px;
      }
    }
  }
  .header-nav{
    @include flex-basis(1600px,1090px);
    @include width(1600px,1090px);
  }
}
