.site-page-bottom{
  background: url(assets/images/page-bottom-BG.jpg)no-repeat center top;
  background-size: cover;
  padding: 70px 0 60px;
  .container{
    max-width: 1147px;
  }
  .pb-title{
    h3{
      margin: 0 0 10px!important;
      text-align: center;
      @include font("Penumbra Serif Std",400,45px,normal,1px,120%,#002768);
      margin: 0;
      padding: 0 0 21px;
      position: relative;
      &::after{
        content: "";
        width: 100px;
        height: 3px;
        background: #BF0B30;
        position: absolute;
        bottom: 0;
        left: 50%;
        transform: translateX(-50%);
      }
    }
    p{
      @include font("Libre Baskerville",400,25px,italic,normal,165%,#222222);
      max-width: 850px;
      margin: 0 auto;
    }
  }
  .social-navigation{
    max-width: 380px;
    margin: 0 auto;
    ul{
      @include flex(row,wrap,space-between, flex-start);
      li{
        margin-right: 0;
      }
    }
  }
  .social-navigation a{
    margin: 0;
    svg{
      display: none;
    }
    &::before{
      background: #151515;
      font-size: 18px;
      border-radius: 100%;
      color: #FFFFFF;
      height: auto;
      width:38px;
      line-height: 38px;
      transition: all 0.5s ease;
    }
    &:hover{
      &::before{
        transform: rotate(360deg) scale(1.5);
      }
    }
  }
  #contact-info{
    margin: 50px auto;
  }
  .info-email{
    position: relative;
    padding: 10px 0 0 90px;
    h3{
      @include font("Montserrat",700,14px,normal,4.8px,120%,#BF0B30);
    }
    a{
      @include font("Montserrat",500,16px,normal,normal,120%,#222222!important);
    }
    &::before{
      content:"";
      background: url('assets/images/sprite-info.png') no-repeat 0 0;
    	width: 70px;
    	height: 70px;
      position: absolute;
      top: 0;
      left: 0;
      transition: all 0.5s ease;
    }
    &:hover{
      &::before{
        transform: rotate(360deg) scale(1.5);
      }
    }
  }
  .info-phone{
    position: relative;
    padding: 10px 0 0 90px;
    h3{
      margin-bottom: 0;
      @include font("Montserrat",700,14px,normal,4.8px,120%,#BF0B30);
    }
    a{
      @include font("Montserrat",700,30px,normal,1px,120%,#222222!important);
    }
    &::before{
      content:"";
      background: url('assets/images/sprite-info.png') no-repeat -110px 0;
    	width: 71px;
    	height: 70px;
      position: absolute;
      top: 0;
      left: 0;
      transition: all 0.5s ease;
    }
    &:hover{
      &::before{
        transform: rotate(360deg) scale(1.5);
      }
    }
  }
  .info-address{
    position: relative;
    padding: 10px 0 0 90px;
    h3{
      @include font("Montserrat",700,14px,normal,4.8px,120%,#BF0B30);
    }
    a{
      @include font("Montserrat",500,16px,normal,normal,120%,#222222!important);
    }
    &::before{
      content:"";
      background: url('assets/images/sprite-info.png') no-repeat -223px 0;
    	width: 71px;
    	height: 70px;
      position: absolute;
      top: 0;
      left: 0;
      transition: all 0.5s ease;
    }
    &:hover{
      &::before{
        transform: rotate(360deg) scale(1.5);
      }
    }
  }
}
