@media screen and (min-width: 768px){
  [data-aos="slide-in-left"] {
    transform: translateX(-1000px);
    opacity: 0;
    transition-property: transform,opacity;
    &.aos-animate {
      transform: translateX(0);
      opacity: 1;
    }
  }
}
[data-aos="slide-in-left"] {
  transform: translateX(-1000px);
  opacity: 0;
  transition-property: transform,opacity;
  &.aos-animate {
    transform: translateX(0);
    opacity: 1;
  }
}
