@media screen and (max-width: 480px){
  .site-header .custom-logo{width: 70%; height: 100%; }
  #quick-form form .qf-top input{width: 85%;}
  #quick-form form textarea{width: 86%;}
  .site-banner .banner-text p{font-size: 6vw}
  .site-banner .banner-text h3{font-size: 9vw;}
  .site-banner .banner-text h4{font-size: 10vw}
  .site-banner .banner-text h4 a{font-size: 10vw;}

  .site-title{font-size: 9vw;padding: 40px 0 0}
  .about-us-description{padding: 30px 0 40px}
  .tagline{font-size: 4.5vw}
  #services{padding: 40px 0}
  #services h3 {font-size: 9vw;}
  #services h4  {font-size: 5vw;}
  #services .quote p{font-size: 5vw}
  #services .quote p a.phone{font-size: 5vw}
  #projects{padding: 40px 0;}
  #projects h3 {font-size: 9vw}
  #projects p{font-size: 5vw;}
  #service-areas{padding: 40px 0}
  #service-areas h3{font-size: 9vw;margin-bottom: 30px;}
  #service-areas .panel-grid-cell{margin-bottom: 0!important}
  #service-areas ul{margin: 0 !important}
  #quick-form{padding: 40px 0;}
  #quick-form h3{font-size: 9vw;}
  .site-page-bottom {padding: 40px 0}
  .site-page-bottom .pb-title h3{font-size: 9vw;}
  .site-page-bottom .pb-title p{font-size: 5vw;}
  .site-page-bottom .info-phone a{font-size: 8vw;}
  .site-page-bottom .social-navigation ul{width: 95%; margin: 0 auto;}
}
