@media screen and (max-width: 1024px){
  .site-header .hd-logo{flex-basis: 100%; width: 100%;}
  .site-header .header-nav{flex-basis: 100%; width: 100%;}
  .site-header .hd-logo::before,.site-header .hd-logo::after{display: none;}
  .site-banner{background: #002768e6;}
  .site-banner .banner-text{position: relative;bottom: 0; padding: 20px 0;}
  #services .service-images{margin: 0 auto;}
  #projects .project-image{margin: 0 auto 20px;}
}
