@media screen and (max-width: 1440px){
  .site-banner .banner-text{bottom: 70px;}
  #quick-form form .qf-top .qf-left{overflow: hidden;}
  #quick-form form .qf-top .qf-right{overflow: hidden;}
  #quick-form form p{overflow: hidden;}
  #quick-form form .qf-top input{width: 100%; margin: 5px auto;}
  #quick-form form textarea{width: 100%;margin: 5px auto;}
}
