@media screen and (max-width: 768px){
  .site-header{position: relative}
  #wprmenu_bar .menu_title a{color: #FFFFFF!important; font-weight: 700;}
  .about-us-description .wp-block-column:nth-of-type(1){flex-basis: 100%; text-align: center;}
  .about-us-description .wp-block-column:nth-of-type(2){flex-basis: 100%; margin: 20px auto 0!important}
  .about-us-description .wp-block-column:nth-of-type(2) p:last-of-type{margin: 20px auto; text-align: center;}
  #quick-form form{ max-width: 678px;}
  #quick-form form .qf-top .qf-left{flex-basis: 100%}
  #quick-form form .qf-top .qf-right{flex-basis: 100%}
  #service-areas h3{text-align: center;}
  #quick-form form .consents .consent1, #quick-form form .consents .consent2{flex-basis: 100%;margin: 20px auto}
  #pgc-w5d070fee66dad-1-0, #pgc-w5d070fee66dad-1-1, #pgc-w5d070fee66dad-1-2 {margin-bottom: 0!important;}
  .site-page-bottom #contact-info{max-width: 400px}
}
