/*
Theme Name: WP5 Default
Theme URI:
Author: the Development team
Author URI: https://wordpress.org/
Description: A theme for WordPress 5.
Requires at least: WordPress 4.9.6
Version: 1.0
License: GNU General Public License v2 or later
License URI: LICENSE
Text Domain: wp5default
Tags: custom-background, custom-logo, custom-menu, featured-images, threaded-comments, translation-ready

This theme, like WordPress, is licensed under the GPL.
Use it to make something cool, have fun, and share what you've learned with others.

WP5 Default is based on Underscores https://underscores.me/, (C) 2012-2018 Automattic, Inc.
Underscores is distributed under the terms of the GNU GPL v2 or later.

Normalizing styles have been helped along thanks to the fine work of
Nicolas Gallagher and Jonathan Neal https://necolas.github.io/normalize.css/
*/
/*###################################
## Fonts
###################################*/
@font-face { font-family: 'Penumbra Serif Std'; src: url("assets/fonts/PenumbraSerifStd-Regular.woff2") format("woff2"), url("assets/fonts/PenumbraSerifStd-Regular.woff") format("woff"); font-weight: normal; font-style: normal; }

@font-face { font-family: 'Infinite Stroke'; src: url("assets/fonts/InfiniteStroke.woff2") format("woff2"), url("assets/fonts/InfiniteStroke.woff") format("woff"); font-weight: normal; font-style: normal; }

a { text-decoration: none; -o-transition: all .5s ease; transition: all .5s ease; -webkit-transition: all .5s ease; text-decoration: none !important; }

a:visited { text-decoration: none; -o-transition: all .5s ease; transition: all .5s ease; -webkit-transition: all .5s ease; text-decoration: none !important; }

a:focus { outline: none !important; }

h1, h2, h3, p, ul, ol { font-family: '', sans-serif; }

html { line-height: 1.15; -webkit-text-size-adjust: 100%; }

body { font-family: 'Open Sans', sans-serif; margin: 0 auto; width: 100%; min-width: 1200px; }

.container { width: 100%; max-width: 1600px; margin: 0 auto; padding: 0; }

.row { max-width: 1440px; margin: 0 auto; }

.panel-grid { margin-bottom: 0 !important; }

@media screen and (max-width: 1550px) { .container { padding: 0 10px; -webkit-box-sizing: border-box; box-sizing: border-box; } }

@media screen and (max-width: 1200px) { body { min-width: 320px; } }

/*###################################
## Layouts
###################################*/
.screen-reader-text { border: 0; clip: rect(1px, 1px, 1px, 1px); -webkit-clip-path: inset(50%); clip-path: inset(50%); height: 1px; margin: -1px; overflow: hidden; padding: 0; position: absolute !important; width: 1px; word-wrap: normal !important; /* Many screen reader and browser combinations announce broken words as they would appear visually. */ }

.wp-block-column, .blocks-gallery-item { margin: 0 !important; }

.has-1-columns .wp-block-column { -ms-flex-preferred-size: 100%; flex-basis: 100%; }

.wp-block-gallery.is-cropped .blocks-gallery-item img { height: auto; width: auto; -o-object-fit: contain; object-fit: contain; }

.wp-block-image { margin: 0; }

.wp-block-image figure { margin: 0; }

.cta { display: none; }

img { -webkit-transition: all .5s linear; -o-transition: all .5s linear; transition: all .5s linear; }

/*###################################
## Buttons
###################################*/
.btn { text-align: center; font-family: "Montserrat"; font-weight: 700; font-size: 14px; font-style: normal; letter-spacing: 0; line-height: 120%; color: #FFFFFF; max-width: 160px; width: 100%; background: #BF0B30; position: relative; z-index: 1; padding: 17px 0; display: inline-block; }

.btn:hover { color: #FFF; -webkit-box-shadow: 0px 10px 20px -10px #000; box-shadow: 0px 10px 20px -10px #000; }

.btn::after { content: ""; background: #000; position: absolute; width: 100%; height: 100%; left: 0; top: 0; -webkit-transition: all .4s linear; -o-transition: all .4s linear; transition: all .4s linear; -webkit-transform: scaleX(0); -ms-transform: scaleX(0); transform: scaleX(0); -webkit-transform-origin: left; -ms-transform-origin: left; transform-origin: left; z-index: -1; }

.btn:hover:after { -webkit-transform: scaleX(1); -ms-transform: scaleX(1); transform: scaleX(1); }

/*###################################
## Search
###################################*/
.sidebar form, .error-404 form { position: relative; max-width: 700px; margin: 10px auto; }

.sidebar input[type="search"], .error-404 input[type="search"] { width: 100%; padding: 5px 10px; }

.sidebar input[type="submit"], .error-404 input[type="submit"] { background: -webkit-gradient(linear, left top, left bottom, from(#FFF), to(#ccc)); background: -webkit-linear-gradient(top, #FFF, #ccc); background: -o-linear-gradient(top, #FFF, #ccc); background: linear-gradient(to bottom, #FFF, #ccc); border: 1px solid #000; position: absolute; padding: 6px; right: 0; top: 0; }

.sidebar .widget:not(:nth-of-type(1)) { background: rgba(255, 255, 255, 0.5); border-bottom: 1px solid #CCC; padding-bottom: 20px; margin-bottom: 20px; padding: 10px 20px; }

.sidebar input[type="submit"] { -webkit-transition: all .4s linear; -o-transition: all .4s linear; transition: all .4s linear; }

.error-404 input[type="submit"] { -webkit-transition: all .4s linear; -o-transition: all .4s linear; transition: all .4s linear; }

.sidebar input[type="submit"]:hover, .error-404 input[type="submit"]:hover { -webkit-box-shadow: 0px 0px 20px #000; box-shadow: 0px 0px 20px #000; }

/*###################################
## Forms
###################################*/
#inner-form { max-width: 1366px; margin: 30px auto; text-align: center; }

#inner-form p { margin: 0; text-align: center; }

#inner-form input[type="text"], #inner-form input[type="email"] { width: 97%; margin: 5px 0; padding: 16px 20px; font-family: "Montserrat"; font-weight: 400; font-size: 15px; font-style: normal; letter-spacing: 0.8px; line-height: 165%; color: #333333; }

#inner-form input[type="text"]::-webkit-input-placeholder, #inner-form input[type="email"]::-webkit-input-placeholder { font-family: "Montserrat"; font-weight: 400; font-size: 15px; font-style: normal; letter-spacing: 0.8px; line-height: 165%; color: #333333; }

#inner-form input[type="text"]:-ms-input-placeholder, #inner-form input[type="email"]:-ms-input-placeholder { font-family: "Montserrat"; font-weight: 400; font-size: 15px; font-style: normal; letter-spacing: 0.8px; line-height: 165%; color: #333333; }

#inner-form input[type="text"]::-ms-input-placeholder, #inner-form input[type="email"]::-ms-input-placeholder { font-family: "Montserrat"; font-weight: 400; font-size: 15px; font-style: normal; letter-spacing: 0.8px; line-height: 165%; color: #333333; }

#inner-form input[type="text"]::placeholder, #inner-form input[type="email"]::placeholder { font-family: "Montserrat"; font-weight: 400; font-size: 15px; font-style: normal; letter-spacing: 0.8px; line-height: 165%; color: #333333; }

#inner-form input[type="checkbox"] { font-family: "Montserrat"; font-weight: 400; font-size: 15px; font-style: normal; letter-spacing: 0.8px; line-height: 165%; color: #333333; margin: 10px auto; }

#inner-form textarea { resize: none; padding: 16px 20px; width: 100%; margin: 5px 0; height: 116px; max-width: 1324px; font-family: "Montserrat"; font-weight: 400; font-size: 15px; font-style: normal; letter-spacing: 0.8px; line-height: 165%; color: #333333; }

#inner-form textarea::-webkit-input-placeholder { font-family: "Montserrat"; font-weight: 400; font-size: 15px; font-style: normal; letter-spacing: 0.8px; line-height: 165%; color: #333333; }

#inner-form textarea:-ms-input-placeholder { font-family: "Montserrat"; font-weight: 400; font-size: 15px; font-style: normal; letter-spacing: 0.8px; line-height: 165%; color: #333333; }

#inner-form textarea::-ms-input-placeholder { font-family: "Montserrat"; font-weight: 400; font-size: 15px; font-style: normal; letter-spacing: 0.8px; line-height: 165%; color: #333333; }

#inner-form textarea::placeholder { font-family: "Montserrat"; font-weight: 400; font-size: 15px; font-style: normal; letter-spacing: 0.8px; line-height: 165%; color: #333333; }

#inner-form .recaptcha { max-width: 304px; margin: 30px auto; }

#inner-form .btn { color: #FFFFFF; border: 0; max-width: 160px; cursor: pointer; margin: 0 auto; }

/*###################################
## Menus
###################################*/
/*Main Menu*/
.main-navigation ul { margin: 0; padding: 0; list-style: none; display: block; display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-orient: horizontal; -webkit-box-direction: normal; -ms-flex-direction: row; flex-direction: row; -ms-flex-wrap: wrap; flex-wrap: wrap; -ms-flex-pack: distribute; justify-content: space-around; -webkit-box-align: start; -ms-flex-align: start; align-items: flex-start; }

.main-navigation ul li { display: inline-block; margin-right: 10px; }

.main-navigation ul li a { display: inline-block; font-family: "Montserrat"; font-weight: 400; font-size: 15px; font-style: normal; letter-spacing: normal; line-height: 185%; color: #FFFFFF; text-transform: uppercase; padding: 16.5px 0; }

.main-navigation ul li a:hover { text-shadow: 0px 0px 10px #000; }

.main-navigation .current-menu-item, .main-navigation .current_page_item { text-shadow: 0px 0px 10px #000; }

.main-navigation ul li:hover ul { visibility: visible; opacity: 1; margin-top: 0; }

.main-navigation ul ul { padding: 10px 5px; display: block; position: absolute; background: rgba(0, 0, 0, 0.7); margin-top: 50px; -webkit-transition: all .4s linear; -o-transition: all .4s linear; transition: all .4s linear; visibility: hidden; opacity: 0; width: 100%; max-width: 400px; -webkit-box-sizing: border-box; box-sizing: border-box; z-index: 999; }

.main-navigation ul ul li { margin: 10px 0; display: block; margin-right: 0; }

.main-navigation ul ul li a { padding: 0 10px; display: block; -webkit-box-sizing: border-box; box-sizing: border-box; text-transform: capitalize; }

.main-navigation ul ul li a::before { display: none; }

.main-navigation ul ul li a:hover { background: #0F3A6F; }

.main-navigation ul ul li a::after { display: none; }

.main-navigation ul ul li:hover ul { margin-left: 200px; visibility: visible !important; opacity: 1 !important; }

.main-navigation ul ul ul { position: absolute; margin-left: 240px; margin-top: -48px !important; visibility: hidden !important; opacity: 0 !important; }

/*Sub Menu*/
/*Sub Sub Menu*/
/*Footer Menu*/
.footer-navigation ul { margin: 0; padding: 0; list-style: none; display: block; }

.footer-navigation ul li { display: inline-block; float: left; margin-right: 10px; }

.footer-navigation ul li a:hover { text-shadow: 0px 0px 10px #000; }

.footer-navigation .current-menu-item, .footer-navigation .current_page_item { text-shadow: 0px 0px 10px #000; }

/*Social Menu*/
.social-navigation ul { margin: 0; padding: 0; list-style: none; display: block; }

.social-navigation ul li { display: inline-block; margin-right: 10px; }

/*###################################
## Header
###################################*/
.site-header { position: absolute; top: 0; left: 0; right: 0; z-index: 9999; background: rgba(0, 39, 104, 0.9); }

.site-header .container { max-width: 1600px; }

.site-header .hd-logo { -ms-flex-preferred-size: 26.5625%; flex-basis: 26.5625%; width: 26.5625%; text-align: center; background: #252525; position: relative; }

.site-header .hd-logo::before { content: ""; background: #252525; width: 100%; height: 100%; position: absolute; left: -100%; top: 0; bottom: 0; }

.site-header .hd-logo::after { content: ""; width: 0; height: 0; border-top: 123px solid #252525; border-right: 50px solid transparent; position: absolute; top: 0; bottom: 0; right: -50px; }

.site-header .custom-logo { width: 100%; max-width: 330px; margin: 0 auto; position: relative; }

.site-header .hd-wrap { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-orient: horizontal; -webkit-box-direction: normal; -ms-flex-direction: row; flex-direction: row; -ms-flex-wrap: wrap; flex-wrap: wrap; -webkit-box-pack: justify; -ms-flex-pack: justify; justify-content: space-between; -webkit-box-align: start; -ms-flex-align: start; align-items: flex-start; }

.site-header .social-navigation a { margin: 0 15px; }

.site-header .social-navigation a svg { display: none; }

.site-header .social-navigation a::before { background: #FFFFFF; font-size: 10px; border-radius: 100%; color: rgba(0, 39, 104, 0.9); height: auto; width: 21px; line-height: 21px; -webkit-transition: all 0.5s ease; -o-transition: all 0.5s ease; transition: all 0.5s ease; }

.site-header .social-navigation a:hover::before { -webkit-transform: rotate(360deg) scale(1.5); -ms-transform: rotate(360deg) scale(1.5); transform: rotate(360deg) scale(1.5); }

.site-header .header-nav-top { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-orient: horizontal; -webkit-box-direction: normal; -ms-flex-direction: row; flex-direction: row; -ms-flex-wrap: wrap; flex-wrap: wrap; -ms-flex-pack: distribute; justify-content: space-around; -webkit-box-align: start; -ms-flex-align: start; align-items: flex-start; padding: 14px 0 0; max-width: 670px; margin: 0 0 0 auto; }

.site-header .header-nav-top p { margin: 0; font-family: "Montserrat"; font-weight: 600; font-size: 25px; font-style: normal; letter-spacing: 1px; line-height: 120%; color: #FFFFFF !important; }

.site-header .header-nav-top p a { color: #FFFFFF !important; }

.site-header .header-nav-top p span { font-size: 14px; font-weight: 700; display: inline-block; vertical-align: middle; letter-spacing: 6px; }

.site-header .header-nav { -ms-flex-preferred-size: 68.125%; flex-basis: 68.125%; width: 68.125%; }

/*###################################
## Banner
###################################*/
.site-banner { position: relative; }

.site-banner .banner-text { max-width: 1600px; margin: 0 auto; text-align: center; position: absolute; left: 0; right: 0; bottom: 195px; }

.site-banner .banner-text h3 { margin: 0 auto; font-family: "Infinite Stroke"; font-weight: 400; font-size: 80px; font-style: normal; letter-spacing: normal; line-height: 100%; color: #FFFFFF; text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.65); }

.site-banner .banner-text h4 { margin: 0 auto; font-family: "Titillium Web"; font-weight: 700; font-size: 65px; font-style: normal; letter-spacing: normal; line-height: normal; color: #FFFFFF; text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.65); }

.site-banner .banner-text h4 a { color: #FFFFFF !important; }

.site-banner .banner-text p { margin: 0 auto; font-family: "Titillium Web"; font-weight: 300; font-size: 45px; font-style: normal; letter-spacing: normal; line-height: 120%; color: #FFFFFF; text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.65); }

.site-banner .so-panel { margin-bottom: 0 !important; }

/*###################################
## Content
###################################*/
/*welcome*/
.site-title { margin: 0; padding: 80px 0 0; font-family: "Penumbra Serif Std"; font-weight: 400; font-size: 45px; font-style: normal; letter-spacing: normal; line-height: 120%; color: #002768; }

.tagline { margin: 0; font-family: "Libre Baskerville"; font-weight: 400; font-size: 25px; font-style: italic; letter-spacing: 3px; line-height: 120%; color: #BF0B30; }

.about-us-description { padding: 55px 0 75px; max-width: 1662px; width: 95%; margin: 0 auto; display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-orient: horizontal; -webkit-box-direction: normal; -ms-flex-direction: row; flex-direction: row; -ms-flex-wrap: wrap; flex-wrap: wrap; -webkit-box-pack: justify; -ms-flex-pack: justify; justify-content: space-between; -webkit-box-align: start; -ms-flex-align: start; align-items: flex-start; }

.about-us-description .wp-block-column:nth-of-type(1) { -ms-flex-preferred-size: 40.49338%; flex-basis: 40.49338%; }

.about-us-description .wp-block-column:nth-of-type(2) { -ms-flex-preferred-size: 55.89651%; flex-basis: 55.89651%; }

.about-us-description .wp-block-column:nth-of-type(2) p { margin: 35px 0; font-family: "Montserrat"; font-weight: 500; font-size: 16px; font-style: normal; letter-spacing: normal; line-height: 185%; color: #222222; }

.about-us-description .wp-block-column:nth-of-type(2) p:first-of-type { margin: 0; }

.about-us-description .wp-block-column:nth-of-type(2) p:last-of-type { margin: 0; }

/*Our Services*/
#services { background: url(assets/images/services-BG.jpg); padding: 85px 0; }

#services .container { max-width: 1665px; width: 95%; }

#services .panel-grid, #services .so-panel { margin-bottom: 0 !important; }

#services h3 { text-align: center; font-family: "Penumbra Serif Std"; font-weight: 400; font-size: 45px; font-style: normal; letter-spacing: 1px; line-height: 120%; color: #FEFF00; margin: 0; padding: 0 0 21px; position: relative; }

#services h3::after { content: ""; width: 100px; height: 3px; background: #FEFF00; position: absolute; bottom: 0; left: 50%; -webkit-transform: translateX(-50%); -ms-transform: translateX(-50%); transform: translateX(-50%); }

#services p { margin: 25px 0; font-family: "Montserrat"; font-weight: 700; font-size: 16px; font-style: normal; letter-spacing: normal; line-height: 165%; color: #FFFFFF; }

#services h4 { margin: 0 0 60px; font-family: "Montserrat"; font-weight: 700; font-size: 27px; font-style: normal; letter-spacing: 4px; line-height: normal; color: #FFFFFF; }

#services .service-images { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-orient: vertical; -webkit-box-direction: normal; -ms-flex-direction: column; flex-direction: column; -ms-flex-wrap: wrap; flex-wrap: wrap; -webkit-box-pack: justify; -ms-flex-pack: justify; justify-content: space-between; -webkit-box-align: center; -ms-flex-align: center; align-items: center; max-width: 520px; width: 100%; }

#services .service-images h3 { padding: 20px 0; margin: 0 0 30px; font-family: "Libre Baskerville"; font-weight: 400; font-size: 30px; font-style: italic; letter-spacing: normal; line-height: 145%; color: #FFFFFF; -webkit-box-ordinal-group: 3; -ms-flex-order: 2; order: 2; }

#services .service-images h3::after { display: none; }

#services .service-images img { -webkit-box-ordinal-group: 2; -ms-flex-order: 1; order: 1; outline: 2px solid #FFFFFF; outline-offset: -15px; }

#services .quote { position: relative; margin: 55px auto 0; max-width: 1366px; width: 95%; border-top: 1px solid #FFFFFF; border-bottom: 1px solid #FFFFFF; }

#services .quote p { max-width: 1266px; width: 90%; margin: 20px auto 35px; font-family: "Libre Baskerville"; font-weight: 400; font-size: 25px; font-style: italic; letter-spacing: normal; line-height: 165%; color: #FFFFFF; }

#services .quote p a.phone { font-size: 33px; color: #FEFF00 !important; }

#services .quote p a.email { color: #FEFF00 !important; }

#services .quote .link { max-width: 234px; margin: -25px auto; background: #001840; }

/*Our Projects*/
#projects { padding: 55px 0 30px; }

#projects .container { max-width: 1664px; width: 95%; }

#projects .so-panel { margin-bottom: 0px !important; }

#projects .project-image { max-width: 397px; width: 100%; margin-bottom: 20px; }

#projects h3 { margin: 0; text-align: center; font-family: "Penumbra Serif Std"; font-weight: 400; font-size: 45px; font-style: normal; letter-spacing: 1px; line-height: 120%; color: #002768; margin: 0; padding: 0 0 21px; position: relative; }

#projects h3::after { content: ""; width: 100px; height: 3px; background: #BF0B30; position: absolute; bottom: 0; left: 50%; -webkit-transform: translateX(-50%); -ms-transform: translateX(-50%); transform: translateX(-50%); }

#projects p { font-family: "Libre Baskerville"; font-weight: 400; font-size: 25px; font-style: italic; letter-spacing: normal; line-height: 120%; color: #BF0B30; }

#projects p.desc { margin: 20px 0 40px; }

/*Our Projects*/
#service-areas { background: url(assets/images/service-area-BG.jpg) no-repeat center top; background-size: cover; padding: 50px 0; }

#service-areas .container { max-width: 1388px; display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-orient: horizontal; -webkit-box-direction: normal; -ms-flex-direction: row; flex-direction: row; -ms-flex-wrap: wrap; flex-wrap: wrap; -webkit-box-pack: justify; -ms-flex-pack: justify; justify-content: space-between; -webkit-box-align: center !important; -ms-flex-align: center !important; align-items: center !important; }

#service-areas h3 { margin: 0; font-family: "Penumbra Serif Std"; font-weight: 400; font-size: 45px; font-style: normal; letter-spacing: 1px; line-height: 120%; color: #FEFF00; }

#service-areas ul li { font-family: "Montserrat"; font-weight: 700; font-size: 17px; font-style: normal; letter-spacing: normal; line-height: 35px; color: #FFFFFF; }

/*Quick Form*/
#quick-form { background: url(assets/images/qform-BG.jpg) no-repeat center top; background-size: cover; padding: 70px 0 40px; }

#quick-form h3 { text-align: center; font-family: "Penumbra Serif Std"; font-weight: 400; font-size: 45px; font-style: normal; letter-spacing: 1px; line-height: 120%; color: #FEFF00; margin: 0; padding: 0 0 21px; position: relative; }

#quick-form h3::after { content: ""; width: 100px; height: 3px; background: #FEFF00; position: absolute; bottom: 0; left: 50%; -webkit-transform: translateX(-50%); -ms-transform: translateX(-50%); transform: translateX(-50%); }

#quick-form form { max-width: 1366px; margin: 30px auto; }

#quick-form form .ctc-hide { display: none; }

#quick-form form p { margin: 0; text-align: center; }

#quick-form form .qf-top { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-orient: horizontal; -webkit-box-direction: normal; -ms-flex-direction: row; flex-direction: row; -ms-flex-wrap: wrap; flex-wrap: wrap; -webkit-box-pack: justify; -ms-flex-pack: justify; justify-content: space-between; -webkit-box-align: start; -ms-flex-align: start; align-items: flex-start; }

#quick-form form .qf-top input { max-width: 634px; width: 94%; margin: 5px 0; padding: 16px 20px; font-family: "Montserrat"; font-weight: 400; font-size: 15px; font-style: normal; letter-spacing: 0.8px; line-height: 165%; color: #111111; }

#quick-form form .qf-top input::-webkit-input-placeholder { font-family: "Montserrat"; font-weight: 300; font-size: 15px; font-style: normal; letter-spacing: 0.8px; line-height: 165%; color: #333333; }

#quick-form form .qf-top input:-ms-input-placeholder { font-family: "Montserrat"; font-weight: 300; font-size: 15px; font-style: normal; letter-spacing: 0.8px; line-height: 165%; color: #333333; }

#quick-form form .qf-top input::-ms-input-placeholder { font-family: "Montserrat"; font-weight: 300; font-size: 15px; font-style: normal; letter-spacing: 0.8px; line-height: 165%; color: #333333; }

#quick-form form .qf-top input::placeholder { font-family: "Montserrat"; font-weight: 300; font-size: 15px; font-style: normal; letter-spacing: 0.8px; line-height: 165%; color: #333333; }

#quick-form form .qf-top .qf-left { -ms-flex-preferred-size: 49.63397%; flex-basis: 49.63397%; width: 49.63397%; }

#quick-form form .qf-top .qf-right { -ms-flex-preferred-size: 49.63397%; flex-basis: 49.63397%; width: 49.63397%; }

#quick-form form textarea { resize: none; padding: 16px 20px; width: 97%; margin: 5px 0; height: 116px; max-width: 1324px; font-family: "Montserrat"; font-weight: 400; font-size: 15px; font-style: normal; letter-spacing: 0.8px; line-height: 165%; color: #111111; }

#quick-form form textarea::-webkit-input-placeholder { font-family: "Montserrat"; font-weight: 300; font-size: 15px; font-style: normal; letter-spacing: 0.8px; line-height: 165%; color: #333333; }

#quick-form form textarea:-ms-input-placeholder { font-family: "Montserrat"; font-weight: 300; font-size: 15px; font-style: normal; letter-spacing: 0.8px; line-height: 165%; color: #333333; }

#quick-form form textarea::-ms-input-placeholder { font-family: "Montserrat"; font-weight: 300; font-size: 15px; font-style: normal; letter-spacing: 0.8px; line-height: 165%; color: #333333; }

#quick-form form textarea::placeholder { font-family: "Montserrat"; font-weight: 300; font-size: 15px; font-style: normal; letter-spacing: 0.8px; line-height: 165%; color: #333333; }

#quick-form form .consents { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-orient: horizontal; -webkit-box-direction: normal; -ms-flex-direction: row; flex-direction: row; -ms-flex-wrap: wrap; flex-wrap: wrap; -ms-flex-pack: distribute; justify-content: space-around; -webkit-box-align: start; -ms-flex-align: start; align-items: flex-start; max-width: 1159px; margin: 30px auto; text-align: center; }

#quick-form form .consents .consent1, #quick-form form .consents .consent2 { -ms-flex-preferred-size: 43.14064%; flex-basis: 43.14064%; width: 43.14064%; }

#quick-form form .consents .ctxt { display: block; font-family: "Montserrat"; font-weight: 700; font-size: 15px; font-style: normal; letter-spacing: normal; line-height: 165%; color: #FFFFFF; }

#quick-form form .recaptcha { max-width: 304px; margin: 30px auto; }

#quick-form form .btn { border: 0; cursor: pointer; margin: 0 auto; }

/*Page Bottom*/
.site-page-bottom { background: url(assets/images/page-bottom-BG.jpg) no-repeat center top; background-size: cover; padding: 70px 0 60px; }

.site-page-bottom .container { max-width: 1147px; }

.site-page-bottom .pb-title h3 { margin: 0 0 10px !important; text-align: center; font-family: "Penumbra Serif Std"; font-weight: 400; font-size: 45px; font-style: normal; letter-spacing: 1px; line-height: 120%; color: #002768; margin: 0; padding: 0 0 21px; position: relative; }

.site-page-bottom .pb-title h3::after { content: ""; width: 100px; height: 3px; background: #BF0B30; position: absolute; bottom: 0; left: 50%; -webkit-transform: translateX(-50%); -ms-transform: translateX(-50%); transform: translateX(-50%); }

.site-page-bottom .pb-title p { font-family: "Libre Baskerville"; font-weight: 400; font-size: 25px; font-style: italic; letter-spacing: normal; line-height: 165%; color: #222222; max-width: 850px; margin: 0 auto; }

.site-page-bottom .social-navigation { max-width: 380px; margin: 0 auto; }

.site-page-bottom .social-navigation ul { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-orient: horizontal; -webkit-box-direction: normal; -ms-flex-direction: row; flex-direction: row; -ms-flex-wrap: wrap; flex-wrap: wrap; -webkit-box-pack: justify; -ms-flex-pack: justify; justify-content: space-between; -webkit-box-align: start; -ms-flex-align: start; align-items: flex-start; }

.site-page-bottom .social-navigation ul li { margin-right: 0; }

.site-page-bottom .social-navigation a { margin: 0; }

.site-page-bottom .social-navigation a svg { display: none; }

.site-page-bottom .social-navigation a::before { background: #151515; font-size: 18px; border-radius: 100%; color: #FFFFFF; height: auto; width: 38px; line-height: 38px; -webkit-transition: all 0.5s ease; -o-transition: all 0.5s ease; transition: all 0.5s ease; }

.site-page-bottom .social-navigation a:hover::before { -webkit-transform: rotate(360deg) scale(1.5); -ms-transform: rotate(360deg) scale(1.5); transform: rotate(360deg) scale(1.5); }

.site-page-bottom #contact-info { margin: 50px auto; }

.site-page-bottom .info-email { position: relative; padding: 10px 0 0 90px; }

.site-page-bottom .info-email h3 { font-family: "Montserrat"; font-weight: 700; font-size: 14px; font-style: normal; letter-spacing: 4.8px; line-height: 120%; color: #BF0B30; }

.site-page-bottom .info-email a { font-family: "Montserrat"; font-weight: 500; font-size: 16px; font-style: normal; letter-spacing: normal; line-height: 120%; color: #222222 !important; }

.site-page-bottom .info-email::before { content: ""; background: url("assets/images/sprite-info.png") no-repeat 0 0; width: 70px; height: 70px; position: absolute; top: 0; left: 0; -webkit-transition: all 0.5s ease; -o-transition: all 0.5s ease; transition: all 0.5s ease; }

.site-page-bottom .info-email:hover::before { -webkit-transform: rotate(360deg) scale(1.5); -ms-transform: rotate(360deg) scale(1.5); transform: rotate(360deg) scale(1.5); }

.site-page-bottom .info-phone { position: relative; padding: 10px 0 0 90px; }

.site-page-bottom .info-phone h3 { margin-bottom: 0; font-family: "Montserrat"; font-weight: 700; font-size: 14px; font-style: normal; letter-spacing: 4.8px; line-height: 120%; color: #BF0B30; }

.site-page-bottom .info-phone a { font-family: "Montserrat"; font-weight: 700; font-size: 30px; font-style: normal; letter-spacing: 1px; line-height: 120%; color: #222222 !important; }

.site-page-bottom .info-phone::before { content: ""; background: url("assets/images/sprite-info.png") no-repeat -110px 0; width: 71px; height: 70px; position: absolute; top: 0; left: 0; -webkit-transition: all 0.5s ease; -o-transition: all 0.5s ease; transition: all 0.5s ease; }

.site-page-bottom .info-phone:hover::before { -webkit-transform: rotate(360deg) scale(1.5); -ms-transform: rotate(360deg) scale(1.5); transform: rotate(360deg) scale(1.5); }

.site-page-bottom .info-address { position: relative; padding: 10px 0 0 90px; }

.site-page-bottom .info-address h3 { font-family: "Montserrat"; font-weight: 700; font-size: 14px; font-style: normal; letter-spacing: 4.8px; line-height: 120%; color: #BF0B30; }

.site-page-bottom .info-address a { font-family: "Montserrat"; font-weight: 500; font-size: 16px; font-style: normal; letter-spacing: normal; line-height: 120%; color: #222222 !important; }

.site-page-bottom .info-address::before { content: ""; background: url("assets/images/sprite-info.png") no-repeat -223px 0; width: 71px; height: 70px; position: absolute; top: 0; left: 0; -webkit-transition: all 0.5s ease; -o-transition: all 0.5s ease; transition: all 0.5s ease; }

.site-page-bottom .info-address:hover::before { -webkit-transform: rotate(360deg) scale(1.5); -ms-transform: rotate(360deg) scale(1.5); transform: rotate(360deg) scale(1.5); }

/*###################################
## Footer
###################################*/
.site-footer { background: #252525; padding: 25px 0; }

.site-footer .copyright { text-align: center; font-family: "Montserrat"; font-weight: 600; font-size: 15px; font-style: normal; letter-spacing: normal; line-height: 120%; color: #FFFFFF; }

/*###################################
## Sidebar Blog
###################################*/
.sidebar { -ms-flex-preferred-size: 30%; flex-basis: 30%; padding: 20px; -webkit-box-sizing: border-box; box-sizing: border-box; border: 1px solid #535353; }

.sidebar .widget { padding: 10px; background: rgba(238, 238, 238, 0.3); -webkit-box-shadow: 0px 0px 2px #111; box-shadow: 0px 0px 2px #111; margin-bottom: 20px; }

.sidebar h2 { margin: 0; font-size: 22px; }

.sidebar ul { margin: 10px auto; line-height: 120%; }

.sidebar ul a { font-size: 17px; color: #111; }

.sidebar ul a:hover { text-shadow: 0px 0px 20px #000; }

.sidebar .widget_search { -webkit-box-sizing: border-box; box-sizing: border-box; padding: 20px; width: 100%; background: #0F3A6F; margin-bottom: 20px; }

.sidebar form { position: relative; }

.sidebar input[type="search"] { width: 100%; padding: 5px 10px; }

.sidebar input[type="submit"] { background: -webkit-gradient(linear, left top, left bottom, from(#FFF), to(#ccc)); background: -webkit-linear-gradient(top, #FFF, #ccc); background: -o-linear-gradient(top, #FFF, #ccc); background: linear-gradient(to bottom, #FFF, #ccc); border: 1px solid #000; padding: 6px; position: absolute; right: 0; top: 0; cursor: pointer; -webkit-transition: all .4s linear; -o-transition: all .4s linear; transition: all .4s linear; }

.sidebar input[type="submit"]:hover { -webkit-box-shadow: 0px 0px 20px #000; box-shadow: 0px 0px 20px #000; }

/*###################################
## Inner Pages
###################################*/
.inner #content { min-width: 320px; padding: 40px 0; }

.inner #content h1 { margin: 0 0 20px; text-align: center; font-family: "Penumbra Serif Std"; font-weight: 400; font-size: 45px; font-style: normal; letter-spacing: 1px; line-height: 120%; color: #002768; padding: 0 0 21px; position: relative; }

.inner #content h1::after { content: ""; width: 100px; height: 3px; background: #BF0B30; position: absolute; bottom: 0; left: 50%; -webkit-transform: translateX(-50%); -ms-transform: translateX(-50%); transform: translateX(-50%); }

.inner #content h4 { font-family: "Libre Baskerville"; font-weight: 400; font-size: 20px; font-style: italic; letter-spacing: 3px; line-height: 120%; color: #BF0B30; }

.inner #content p { font-family: "Montserrat"; font-weight: 500; font-size: 16px; font-style: normal; letter-spacing: normal; line-height: 185%; color: #222222; }

.glsr-form-wrap { padding: 20px 40px; margin: 0 auto !important; border: 2px solid #093270; border-radius: 10px; }

.glsr-default .glsr-navigation > :not(.glsr-loader), .glsr-default .glsr-review { padding: 20px 40px; margin: 40px auto !important; border: 2px solid #093270; border-radius: 10px; }

/*###################################
## Blog Page
###################################*/
.blog-container { padding-right: 5%; -ms-flex-preferred-size: 65%; flex-basis: 65%; }

.blog-list article { padding: 20px; -webkit-box-sizing: border-box; box-sizing: border-box; border: 1px solid #535353; -webkit-transition: all .3s linear; -o-transition: all .3s linear; transition: all .3s linear; }

.blog-list article:not(:last-of-type) { margin-bottom: 40px; }

.blog-list article:hover { -webkit-box-shadow: 0px 0px 20px #000; box-shadow: 0px 0px 20px #000; }

.blog-title h2 a { font-size: 30px; margin: 0 0 20px; color: #111; }

.blog-header { margin-bottom: 10px; -webkit-box-align: end; -ms-flex-align: end; align-items: flex-end; -webkit-align-items: flex-end; }

.blog-header p { margin: 0; font-size: 18px; }

.blog-header p span { font-style: italic; }

.blog-image { text-align: center; }

.blog-image img { -webkit-transition: all .5s linear; -o-transition: all .5s linear; transition: all .5s linear; max-width: 500px !important; height: auto !important; }

.blog-container .btn { padding: 10px 20px; font-size: 13px; margin-top: 10px; }

.pagination-n { text-align: right; margin-top: 15px; }

.pagination-n a { padding: 2px 10px; background: #0F3A6F; color: #FFF; }

.pagination-n .current { padding: 2px 10px; background: #6A7A64; color: #FFF; }

@media screen and (max-width: 800px) { .blog-wrap { -webkit-box-orient: vertical; -webkit-box-direction: normal; -ms-flex-direction: column; flex-direction: column; -webkit-flex-direction: column; }
  .blog-container { margin-bottom: 30px; padding-right: 0; text-align: center; } }

@media screen and (max-width: 500px) { .blog-header { -webkit-box-orient: vertical; -webkit-box-direction: normal; -ms-flex-direction: column; flex-direction: column; -webkit-flex-direction: column; }
  .blog-header p, .blog-header h2 { width: 100%; text-align: center; }
  .blog-list article { text-align: center; }
  .blog-header h2 { font-size: 30px; }
  .blog-container .btn { margin-top: 20px; } }

/*###################################
## Search Page
###################################*/
.page-description { text-align: center; font-size: 25px; font-weight: 700; margin-bottom: 40px; display: block; }

.page-description::after { content: ' "'; }

.page-description::before { content: '" '; }

.search article { padding: 20px; border: 1px solid #000; margin-bottom: 30px; display: block; -webkit-transition: all .5s linear; -o-transition: all .5s linear; transition: all .5s linear; }

.search article:hover { -webkit-box-shadow: 0px 0px 20px #000; box-shadow: 0px 0px 20px #000; }

.search article:last-of-type { margin-bottom: 0; }

.search article h2 a { margin: 0 0 20px; font-size: 35px; color: #111; }

.search-con { padding-right: 5%; -ms-flex-preferred-size: 65%; flex-basis: 65%; }

@media screen and (max-width: 800px) { .search-wrap { -webkit-box-orient: vertical; -webkit-box-direction: normal; -ms-flex-direction: column; flex-direction: column; -webkit-flex-direction: column; }
  .search-con { margin-bottom: 30px; padding-right: 0; text-align: center; } }

/*###################################
## Error Page
###################################*/
.error-404 { text-align: center; }

/*###################################
## Responsive
###################################*/
/*view 1440px*/
@media screen and (max-width: 1440px) { .site-banner .banner-text { bottom: 70px; }
  #quick-form form .qf-top .qf-left { overflow: hidden; }
  #quick-form form .qf-top .qf-right { overflow: hidden; }
  #quick-form form p { overflow: hidden; }
  #quick-form form .qf-top input { width: 100%; margin: 5px auto; }
  #quick-form form textarea { width: 100%; margin: 5px auto; } }

/*view 1024px*/
@media screen and (max-width: 1024px) { .site-header .hd-logo { -ms-flex-preferred-size: 100%; flex-basis: 100%; width: 100%; }
  .site-header .header-nav { -ms-flex-preferred-size: 100%; flex-basis: 100%; width: 100%; }
  .site-header .hd-logo::before, .site-header .hd-logo::after { display: none; }
  .site-banner { background: #002768e6; }
  .site-banner .banner-text { position: relative; bottom: 0; padding: 20px 0; }
  #services .service-images { margin: 0 auto; }
  #projects .project-image { margin: 0 auto 20px; } }

/*view 768px*/
@media screen and (max-width: 768px) { .site-header { position: relative; }
  #wprmenu_bar .menu_title a { color: #FFFFFF !important; font-weight: 700; }
  .about-us-description .wp-block-column:nth-of-type(1) { -ms-flex-preferred-size: 100%; flex-basis: 100%; text-align: center; }
  .about-us-description .wp-block-column:nth-of-type(2) { -ms-flex-preferred-size: 100%; flex-basis: 100%; margin: 20px auto 0 !important; }
  .about-us-description .wp-block-column:nth-of-type(2) p:last-of-type { margin: 20px auto; text-align: center; }
  #quick-form form { max-width: 678px; }
  #quick-form form .qf-top .qf-left { -ms-flex-preferred-size: 100%; flex-basis: 100%; }
  #quick-form form .qf-top .qf-right { -ms-flex-preferred-size: 100%; flex-basis: 100%; }
  #service-areas h3 { text-align: center; }
  #quick-form form .consents .consent1, #quick-form form .consents .consent2 { -ms-flex-preferred-size: 100%; flex-basis: 100%; margin: 20px auto; }
  #pgc-w5d070fee66dad-1-0, #pgc-w5d070fee66dad-1-1, #pgc-w5d070fee66dad-1-2 { margin-bottom: 0 !important; }
  .site-page-bottom #contact-info { max-width: 400px; } }

/*view 640px*/
/*view 480px*/
@media screen and (max-width: 480px) { .site-header .custom-logo { width: 70%; height: 100%; }
  #quick-form form .qf-top input { width: 85%; }
  #quick-form form textarea { width: 86%; }
  .site-banner .banner-text p { font-size: 6vw; }
  .site-banner .banner-text h3 { font-size: 9vw; }
  .site-banner .banner-text h4 { font-size: 10vw; }
  .site-banner .banner-text h4 a { font-size: 10vw; }
  .site-title { font-size: 9vw; padding: 40px 0 0; }
  .about-us-description { padding: 30px 0 40px; }
  .tagline { font-size: 4.5vw; }
  #services { padding: 40px 0; }
  #services h3 { font-size: 9vw; }
  #services h4 { font-size: 5vw; }
  #services .quote p { font-size: 5vw; }
  #services .quote p a.phone { font-size: 5vw; }
  #projects { padding: 40px 0; }
  #projects h3 { font-size: 9vw; }
  #projects p { font-size: 5vw; }
  #service-areas { padding: 40px 0; }
  #service-areas h3 { font-size: 9vw; margin-bottom: 30px; }
  #service-areas .panel-grid-cell { margin-bottom: 0 !important; }
  #service-areas ul { margin: 0 !important; }
  #quick-form { padding: 40px 0; }
  #quick-form h3 { font-size: 9vw; }
  .site-page-bottom { padding: 40px 0; }
  .site-page-bottom .pb-title h3 { font-size: 9vw; }
  .site-page-bottom .pb-title p { font-size: 5vw; }
  .site-page-bottom .info-phone a { font-size: 8vw; }
  .site-page-bottom .social-navigation ul { width: 95%; margin: 0 auto; } }
