@mixin flex($row,$wrap,$justify,$align){
  display: flex;
  flex-direction: $row;
  flex-wrap: $wrap;
  justify-content: $justify;
  align-items: $align;
}
@mixin flex-basis($range,$size){
  flex-basis: ($size/$range)*100%;
}
@mixin width($range,$size){
  width: ($size/$range)*100%;
}
@mixin font($family,$weight,$size,$style,$letter-spacing,$line-height,$color){
  font: {
    family: $family;
    weight: $weight;
    size: $size;
    style: $style;
  }
  letter-spacing: $letter-spacing;
  line-height: $line-height;
  color: $color;
}
