.sidebar {
  flex-basis: 30%;
  padding: 20px;
  box-sizing: border-box;
  border: 1px solid #535353;
  .widget {
    padding: 10px;
    background: rgba(238, 238, 238, 0.3);
    box-shadow: 0px 0px 2px #111;
    margin-bottom: 20px;
  }
  h2 {
    margin: 0;
    font-size: 22px;
  }
  ul {
    margin: 10px auto;
    line-height: 120%;
    a {
      font-size: 17px;
      color: #111;
      &:hover {
        text-shadow: 0px 0px 20px #000;
      }
    }
  }
  .widget_search {
    box-sizing: border-box;
    padding: 20px;
    width: 100%;
    background: #0F3A6F;
    margin-bottom: 20px;
  }
  form {
    position: relative;
  }
  input {
    &[type="search"] {
      width: 100%;
      padding: 5px 10px;
    }
    &[type="submit"] {
      background: linear-gradient(to bottom, #FFF, #ccc);
      border: 1px solid #000;
      padding: 6px;
      position: absolute;
      right: 0;
      top: 0;
      cursor: pointer;
      transition: all .4s linear;
      &:hover {
        box-shadow: 0px 0px 20px #000;
      }
    }
  }
}
