#quick-form{
  background: url(assets/images/qform-BG.jpg)no-repeat center top;
  background-size: cover;
  padding: 70px 0 40px;
  h3{
    text-align: center;
    @include font("Penumbra Serif Std",400,45px,normal,1px,120%,#FEFF00);
    margin: 0;
    padding: 0 0 21px;
    position: relative;
    &::after{
      content: "";
      width: 100px;
      height: 3px;
      background: #FEFF00;
      position: absolute;
      bottom: 0;
      left: 50%;
      transform: translateX(-50%);
    }
  }
  form{
    max-width: 1366px; margin: 30px auto;
    .ctc-hide{display: none;}
    p{
      margin: 0;
      text-align: center;
    }
    .qf-top{
      @include flex(row,wrap,space-between,flex-start);
      input{
        max-width: 634px;
        width: 94%;
        margin: 5px 0;
        padding: 16px 20px;
        @include font("Montserrat",400,15px,normal,0.8px,165%,#111111);
        &::placeholder{
          @include font("Montserrat",300,15px,normal,0.8px,165%,#333333);
        }
      }
      .qf-left{
        @include flex-basis(1366px,678px);
        @include width(1366px,678px);
      }
      .qf-right{
        @include flex-basis(1366px,678px);
        @include width(1366px,678px);
      }
    }
    textarea{
      resize: none;
      padding: 16px 20px;
      width: 97%;
      margin: 5px 0;
      height: 116px;
      max-width: 1324px;
      @include font("Montserrat",400,15px,normal,0.8px,165%,#111111);
      &::placeholder{
        @include font("Montserrat",300,15px,normal,0.8px,165%,#333333);
      }
    }
    .consents{
      @include flex(row,wrap,space-around,flex-start);
      max-width: 1159px;
      margin: 30px auto;
      text-align: center;
      .consent1, .consent2{
        @include flex-basis(1159px,500px);
        @include width(1159px,500px);
      }
      .ctxt{
        display: block;
        @include font("Montserrat",700,15px,normal,normal,165%,#FFFFFF);
      }
    }
    .recaptcha{
      max-width: 304px;
      margin: 30px auto;
    }
    .btn{
      border:0;
      cursor: pointer;
      margin: 0 auto;
    }
  }
}
