#services{
  background: url(assets/images/services-BG.jpg);
  padding: 85px 0;
  .container{
    max-width: 1665px;
    width: 95%;
  }
  .panel-grid, .so-panel{
    margin-bottom: 0!important;
  }
  h3{
    text-align: center;
    @include font("Penumbra Serif Std",400,45px,normal,1px,120%,#FEFF00);
    margin: 0;
    padding: 0 0 21px;
    position: relative;
    &::after{
      content: "";
      width: 100px;
      height: 3px;
      background: #FEFF00;
      position: absolute;
      bottom: 0;
      left: 50%;
      transform: translateX(-50%);
    }
  }
  p{
    margin: 25px 0;
    @include font("Montserrat",700,16px,normal,normal,165%,#FFFFFF);
  }
  h4{
    margin: 0 0 60px;
    @include font("Montserrat",700,27px,normal,4px,normal,#FFFFFF);
  }
  .service-images{
    @include flex(column,wrap,space-between,center);
    max-width: 520px;
    width: 100%;
    h3{
      padding: 20px 0;
      margin: 0 0 30px;
      @include font("Libre Baskerville",400,30px,italic,normal,145%,#FFFFFF);
      order: 2;
      &::after{
        display: none;
      }
    }
    img{
      order:1;
      outline: 2px solid #FFFFFF;
      outline-offset: -15px;
    }
  }
  .quote{
    position: relative;
    margin: 55px auto 0;
    max-width: 1366px;
    width: 95%;
    border-top: 1px solid #FFFFFF;
    border-bottom: 1px solid #FFFFFF;
    p{
      max-width: 1266px;
      width: 90%;
      margin: 20px auto 35px;
      @include font("Libre Baskerville",400,25px,italic,normal,165%,#FFFFFF);
      a.phone{
        font-size: 33px;
        color: #FEFF00!important;
      }
      a.email{
        color: #FEFF00!important;
      }
    }
    .link{
      max-width: 234px;
      margin: -25px auto;
      background: #001840;
    }
  }
}
