#projects{
  padding: 55px 0 30px;
  .container{
    max-width: 1664px;
    width: 95%;
  }
  .so-panel{
    margin-bottom: 0px!important;
  }
  .project-image{
    max-width: 397px;
    width: 100%;
    margin-bottom: 20px;
  }
  h3{
    margin: 0;
    text-align: center;
    @include font("Penumbra Serif Std",400,45px,normal,1px,120%,#002768);
    margin: 0;
    padding: 0 0 21px;
    position: relative;
    &::after{
      content: "";
      width: 100px;
      height: 3px;
      background: #BF0B30;
      position: absolute;
      bottom: 0;
      left: 50%;
      transform: translateX(-50%);
    }
  }
  p{
    @include font("Libre Baskerville",400,25px,italic,normal,120%,#BF0B30);
    &.desc{
      margin: 20px 0 40px
    }
  }
}
