#service-areas{
  background: url(assets/images/service-area-BG.jpg)no-repeat center top;
  background-size: cover;
  padding: 50px 0;
  .container{
    max-width: 1388px;
    @include flex(row,wrap,space-between,center!important);
  }
  h3{
    margin: 0;
    @include font("Penumbra Serif Std",400,45px,normal,1px,120%,#FEFF00);
  }
  ul{
    li{
      @include font("Montserrat",700,17px,normal,normal,35px,#FFFFFF);
    }
  }
}
