.site-title{
  margin: 0;
  padding: 80px 0 0;
  @include font("Penumbra Serif Std",400,45px,normal,normal,120%,#002768);
}
.tagline{
  margin: 0;
  @include font("Libre Baskerville",400,25px,italic,3px,120%,#BF0B30);
}
.about-us-description{
  padding: 55px 0 75px;
  max-width: 1662px;
  width: 95%;
  margin: 0 auto;
  @include flex(row,wrap,space-between,flex-start);
  .wp-block-column{
    &:nth-of-type(1){
      @include flex-basis(1662px, 673px);
    }
    &:nth-of-type(2){
      @include flex-basis(1662px, 929px);
      p{
        margin: 35px 0;
        @include font("Montserrat",500,16px,normal,normal,185%,#222222);
        &:first-of-type{margin: 0;}
        &:last-of-type{margin: 0;}
      }
    }
  }
}
