.blog-container {
  padding-right: 5%;
  flex-basis: 65%;
}

.blog-list article {
  padding: 20px;
  box-sizing: border-box;
  border: 1px solid #535353;
  transition: all .3s linear;
  &:not(:last-of-type) {
    margin-bottom: 40px;
  }
  &:hover {
    box-shadow: 0px 0px 20px #000;
  }
}

.blog-title h2 a {
  font-size: 30px;
  margin: 0 0 20px;
  color: #111;
}

.blog-header {
  margin-bottom: 10px;
  align-items: flex-end;
  -webkit-align-items: flex-end;
  p {
    margin: 0;
    font-size: 18px;
    span {
      font-style: italic;
    }
  }
}

.blog-image {
  text-align: center;
  img {
    transition: all .5s linear;
    max-width: 500px !important;
    height: auto !important;
  }
}

.blog-container .btn {
  padding: 10px 20px;
  font-size: 13px;
  margin-top: 10px;
}

.pagination-n {
  text-align: right;
  margin-top: 15px;
  a {
    padding: 2px 10px;
    background: #0F3A6F;
    color: #FFF;
  }
  .current {
    padding: 2px 10px;
    background: #6A7A64;
    color: #FFF;
  }
}

@media screen and (max-width: 800px) {
  .blog-wrap {
    flex-direction: column;
    -webkit-flex-direction: column;
  }
  .blog-container {
    margin-bottom: 30px;
    padding-right: 0;
    text-align: center;
  }
}

@media screen and (max-width: 500px) {
  .blog-header {
    flex-direction: column;
    -webkit-flex-direction: column;
    p, h2 {
      width: 100%;
      text-align: center;
    }
  }
  .blog-list article {
    text-align: center;
  }
  .blog-header h2 {
    font-size: 30px;
  }
  .blog-container .btn {
    margin-top: 20px;
  }
}
